body {
    font-family: "Inter", sans-serif;
    background-image: url(../images/background.png);
    background-size: cover;
    object-fit: cover;
}

main {
    width: min(100%, 1440px);
    margin: auto;
}


section {
    display: flex;
    justify-content: space-between;
    gap: 66px;
    width: 80%;
    max-width: 1160px;
    height: 538px;
    background-color: #1C1325CC;
    border-radius: 20px;
    border: 1px solid #B052B5C9;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.contacts {
    display: flex;
    width: 50%;
    gap: 40px;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 4px;
    vertical-align: middle;
    color: #FFFFFF;
    text-shadow: 2px 4px 4px #F90CEFB5;
    margin-bottom: 40px;
}

input[type=text],
input[type=email] {
    gap: 20px;
    height: 48px;
    opacity: 1;
    border-radius: 8px;
    border-width: 1px;
    background-color: transparent;
    border-color: #B052B5;
}
label{
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 26px;
letter-spacing: 0px;
vertical-align: middle;
color: #FFFFFF;
}
textarea{
    resize: none;
    height: 112px;
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    background-color: transparent;
    border-color: #B052B5;
}
button{
    background-color: #F30AEA;
    width: 80%;
    height: 64px;
    border-radius: 16px;
    border: none;
    color: #FFFFFF;
}
.info{
    width: 50%;
    display: flex;
   flex-direction: column;
   gap: 72px 72px;
}
address{
display: flex;
justify-content: space-evenly;
}
iframe{
    height: 100%;
    border-radius: 10px;
}
