@media (max-width:800px) {
    section {
        max-width: 752px;
        height: 1060px;
        padding: 16px;
        flex-wrap: wrap;
    }
    .contacts{
        display: flex;
        width: 100%;
        height: 50%;

    }
    .info{
     display: flex;
        width: 100%;
        height: 50%;
    }
}